<%= stylesheet_link_tag "users" %>

<div class= "nametag"> 

<p class="nome"> Pagina di <%= @user.username %></p>

</div>
<div class="stats">
  <a style= "margin-left:5%;">
    <strong id="following" class="stat">
    Following:
    <%= @user.following.count %>
    </strong>
  </a>
  <br>
  <a style= "margin-left:5%;">
    <strong id="followers" class="stat">
    Followers:
    <%= @user.followers.count %>
    </strong>
  </a>
</div>
<% if current_user.id != @user.id %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render 'unfollow'%>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>
<%= render @posts %>