<%= stylesheet_link_tag "sidebar" %>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-green">
    <div class="position-sticky">
      <div id="profile_picture">
        <%if current_user.image.attached? %>
        <%= image_tag(current_user.image)%>
        <% end%>
      </div>
      <div id="logo">
          <i class="fas fa-chart-bar fa-fw me-3"></i><%=link_to 'PickItUp',root_path,:method => :get,class: "list-group-item list-group-item-action py-2 ripple"  %>
            
      </div>
      <div class="list-group list-group-flush mx-3 mt-4">
        <%= form_tag(home_search_path, :method => "get") do %>
        <div class="input-group">
          <%= search_field_tag :search,params[:search],placeholder: "Search User ", class: "form-control" %>
          <div class="input-group-btn">
            <%= button_tag "Search" ,:class => 'btn btn-info glyphicon glyphicon-search',:name => nil %>
          </div>
        <% end %>
        
            <i class="fas fa-chart-bar fa-fw me-3"></i><%=link_to 'LeaderBoard',leaderboard_index_path,:method => :get,class: "list-group-item list-group-item-action py-2 ripple"  %>
            <br>
            <i class="fas fa-chart-bar fa-fw me-3"></i><%=link_to 'Map',map_index_path,:method => :get,class: "list-group-item list-group-item-action py-2 ripple" ,data: { turbo: false} %>
            <br>
            <i class="fas fa-chart-bar fa-fw me-3"></i><%=link_to 'News',news_index_path,:method => :get,class: "list-group-item list-group-item-action py-2 ripple"  %>
            <br>
            <i class="fas fa-chart-bar fa-fw me-3"></i><%=link_to 'Challenges',challenges_path,:method => :get,class: "list-group-item list-group-item-action py-2 ripple"  %>
            <br>
            
            <i class="fas fa-chart-bar fa-fw me-3"></i><%=link_to 'Sponsors',companies_path,:method => :get,class: "list-group-item list-group-item-action py-2 ripple"  %>
            <br>
            <i class="fas fa-globe fa-fw me-3"></i><%= link_to 'Settings',edit_user_registration_path,:method => :get, class: "list-group-item list-group-item-action py-2 ripple" %></br>
            <i class="fas fa-globe fa-fw me-3"></i><%= link_to 'Verify',posts_to_verify_path,:method => :get, class: "list-group-item list-group-item-action py-2 ripple" %></br>
            <i class="fas fa-globe fa-fw me-3" ></i><%= link_to 'Logout',
                destroy_user_session_path, method: :delete,class: "list-group-item list-group-item-action py-2 ripple"%>
            
        
            
        
      </div>
    </div>
  </nav>
  <!-- Sidebar -->

