
<% content_for :body do %>
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '2366483176861220',
      xfbml      : true,
      version    : 'v16.0'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<% end %>
<div id= "timeline">


<% if Pundit.policy(Current.user,@post).create? %>	
	
	
	<%= simple_form_for @post, html: { class: "myContainer" },action: "/posts" do |f| %>

  <h2 class="postTitle">Write what you're thinking &nbsp;</h2>
  <%= f.input :written_text, input_html: { autofocus: true }, wrapper: false, label: false, class:"postText"%>
  <div style="margin:auto; display: grid; grid-auto-flow: column;">
  <%= f.input :images, multiple: true ,value: @post.images,required: true, label: false, html: { style: "" } %>
  <%= f.submit 'Post',class: "genButton", style:"margin-right:10px"%>
  </div>
<% end %>
<%end %>
	<%= render @timeline_posts %>
	
  
</div>
<div id = "awards">
	<%=render  @awards %>
	
</div>


