<div class="award">
  <%= award.description %>
  <%= image_tag(award.image) %>
  <div class="footer" style="display:inline-flex;">
      <%= award.left %>
      PRICE: <%= award.price %> points
      <%= button_to "BUY", awards_buy_path(award.id),method: :post,id:award.id ,class:"genButton"%>
  </div>
  <div class="award__actions">
    
    <% if Pundit.policy(Current.user,award).destroy? %>
      <%= button_to "Delete",
                  award_path(award),
                  method: :delete,
                  class: "btn btn--light" %>
    <% end %>
    
    <% if Pundit.policy(Current.user,award).update? %>
      <%= link_to "Edit",
                 edit_award_path(award),
                class: "btn btn--light" %>
    <% end %>
  </div>
</div>