<%= stylesheet_link_tag "awards" %>

<div class="award">
<div class="left">
  <div class="titolo"> <p style="font-size:200%; margin-left:5%;"><%= award.description %></p> </div>
  
  <%= image_tag(award.image)%>
</div>  

<div style="max-width=25%">
  <div class="footer" style="display:column-flex;">
      <div><p> Quantity left:<%= award.left %></div>
      <div>PRICE: <%= award.price %> points</div>
      <%= button_to "BUY", awards_buy_path(award.id),method: :post,id:award.id ,class:"genButton"%>
  </div>
  <div class="award__actions">
    
    <% if Pundit.policy(Current.user,award).destroy? %>
      <%= button_to "Delete",
                  award_path(award),
                  method: :delete,
                  class: "btn btn--light" %>
    <% end %>
    
    <% if Pundit.policy(Current.user,award).update? %>
      <%= link_to "Edit",
                 edit_award_path(award),
                class: "btn btn--light" %>
    <% end %>
  </div>
  </div>
</div>