 <h2 class = "genTitle" style="margin-left:300px;border-top-right-radius:5px;margin-bottom:50px" >New award</h2>
<main class="containerAwards">
  <%= simple_form_for @award, html: { class: "award form" } do |f| %>
  <% if @award.errors.any? %>
    <div class="error-message">
      <%= @award.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :description, input_html: { autofocus: true } %>
  <%= f.input :price, input_html: { autofocus: true } %>
  <%= f.input :left, input_html: { autofocus: true } %>
  <%= f.input :image, input_html: { autofocus: true } %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit class: "genButton", style:"
  margin-left: 130px;
  margin-bottom: 30px;
  font-size: 40px;" %>
<% end %>
</main> 
<h2 class = "genTitle" style="margin-left:300px;border-top-right-radius:5px;margin-bottom:50px;margin-top:30px" >Awards</h2>
  <%= render @awards %>
