<%= stylesheet_link_tag "weather" %>
<%= simple_form_for challenge, html: { class: "challenge form" } do |f| %>
  <% if challenge.errors.any? %>
    <div class="error-message">
      <%= challenge.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :description, input_html: { autofocus: true }, label:false %>
  <div style="margin:auto; display: grid; grid-auto-flow: column;">
  <div>
  <%= f.input :temp_date, input_html: { autofocus: true } %>
  <%= f.input :temp_time, input_html: { autofocus: true } %>
  </div>
  <%= f.hidden_field :user_id,:value => current_user.id %>
  <%= f.hidden_field :raggio,value: params['radius'].to_s %>
  <%= f.hidden_field :luogo,value:  params['coord'].to_s.tr('()','') %>

  
  <%= f.submit class: "genButton", style:"margin-right:10px" %>
  </div>
<% end %>
<div id="weather" style= "display:flex">
    <div  id = "rain" class= "rain_c" style="display: none;">
    <div  id = "sun" class= "sun_c" style="display: none;">
    <div  id = "cloud" class= "cloud_c" style="display: none;">
    <div  id = "part_cloud" class= "part_cloud_c" style="display: none;">
   
</div>