<% content_for :head do %>
<%= stylesheet_link_tag "challenges" %>
<style>
  <%= ".msg-#{current_user.id}" %> {
  background-color: #007bff !important;
  padding: 10px;
  }
  <%= ".cont-#{current_user.id}" %> {
  display: flex;
  justify-content: flex-end
  }
</style>

<% end %>
<% if @challenge %>
<% lat = @challenge.luogo.split(',')[0]%>
<% lng = @challenge.luogo.split(',')[1]%>
<div style="margin-left:300px">
<h2 class="genTitle" > <%= @challenge.description %><h2>
&nbsp&nbsp&nbsp&nbsp
<% if @challenge.user_id == current_user.id && @challenge.durata == nil %>
      <%= link_to 'Set Date/Time/Duration',edit_challenge_path(@challenge,lat: lat,lng:lng) ,data: { turbo: false}, class:"genText"%> 
<% end %>

&nbsp&nbsp&nbsp&nbsp
<%= link_to 'See challenge location', map_index_path(l: @l,id: @challenge.id), class:"genText" %></h4>
<%= turbo_frame_tag "challenge" do %>
</div>
<div class="col-md-10 bg-dark text-light" style="flex: 7">
  
   
    <%= turbo_stream_from @challenge %>
    <%= turbo_stream_from "messages" %>
      <div id="messages">
        <%= render @messages %>
      </div>
  <%= render partial: 'messages/form' %>
  <% end %>
</div>
<%end%>
<%=  render @joined_challenges %>