<style>
  
.genButton{
  background-color: green;
  color: white;
  font-size: 20px;
  height: fit-content;
  width: auto;
  border-radius: 10px;
  border-style: solid;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 2px;
  border-color:green;
}

.genButton:hover{
  border-style: solid;
  border-color: green;
  background-color: white;
  color: green;
}
</style>

<h2  class="genTitle" style="border-top-right-radius:5px;">Change your password</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>
<div class="myContainer">
  <div class="form-inputs">
    <%= f.input :password,
                label: "New password",
                required: true,
                autofocus: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                label: "Confirm your new password",
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Change my password", class:"genButton",  style:"margin-left:290px;margin-bottom:30px;" %>
  </div>
</div>
<% end %>

<%= render "users/shared/links" %>


