<%= simple_form_for @post, html: { class: "post form" },action: "/posts" do |f| %>
  <% if post.errors.any? %>
    <div class="error-message">
      <%= post.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :written_text, input_html: { autofocus: true } %>
  <%= f.hidden_field :images, multiple: true ,value: @post.images,required: true %>
  <%= f.submit 'Create Post'class: "btn btn--secondary" %>
<% end %>