<%= simple_form_for @post, html: { class: "post form" },action: "/posts" do |f| %>
  <% if post.errors.any? %>
    <div class="error-message">
      <%= post.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <div class="header">
    <h2 class="genTitle">New post</h2>
  </div>
  <%= f.input :written_text, input_html: { autofocus: true }, label:false %>
  <%= f.hidden_field :images, input_html: {multiple: true } ,value: @post.images,required: true %>
  <%= f.submit 'Create Post',class: "genButton" , style:"margin-left:420px; margin-bottom:15px"%>
<% end %>