<%= turbo_frame_tag "post" do %>

<div class="myContainer post">
<div class="post_header" style="display: inline-flex;">
  <%user =User.find(post.user_id) %>
</div>
<div class="post_body">
  <%if post.images.attached? %>
    <% post.images.each do |image| %>
        <%= image_tag(image) %>
    <% end %>
  <% end%>
    <%@written_text%>
</div>
<div class= "post_footer">
  <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="" data-size=""><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Condividi</a></div>
 <div id="<%= "#{dom_id(post)}_likes" %>" class="likes">
  <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= button_to '', post_like_path(post, pre_like), method: :delete, class:"dislike" %>
<% else %>
  <%= button_to '', post_likes_path(post), method: :post, class:"like" %>
<% end %>
  <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
  <div>
</div>
<%if current_user.role == 'level1' || current_user.role == 'level2' || current_user.role == 'company' || current_user.role == 'admin' %>
    <%= render partial: "comments/form", locals: { comment: Comment.new , post: post} %>
<%end %>
  <%= turbo_stream_from post, :comments %>
<div id="<%= "#{dom_id(post)}_comments" %>">
  <%= render post.comments.order(created_at: :desc) %>
</div>
</div>
</div>
  <div class="post_actions">
    <% if Pundit.policy(Current.user,post).destroy? %>
      <%= button_to "Delete",
                  post_path(post),
                  method: :delete,
                  class: "btn btn--light" %>
    <% end %>
    <%if Pundit.policy(Current.user,post).edit? %>
    <%= link_to "Edit",
                edit_post_path(post),
                class: "btn btn--light" %>
    <%end %>
    <% if post.verified == false %>
      <%= button_to "Verify", posts_verify_path,method: :post,id: post.id %>
    <% end %>
  </div>
</div>
<% end %>