<% content_for :head do %>
  
  <%= stylesheet_link_tag 'map' %>
 <script type="text/javascript">
  
  var url_string = window.location.href;
  var url = new URL(url_string);
  if (url.searchParams.has("l") == true)  {

  function initMap() {
      const id=url.searchParams.get('id');
      const luogo=url.searchParams.get('l');
      const arr = luogo.split(':');
      let lat =arr[0] ;
      let lng = arr[1];
      let rad =parseInt(arr[2]);
      const myLatlng = new google.maps.LatLng(lat,lng);
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 16,
        center: myLatlng,
        mapTypeId: 'terrain',
      });
      var username = url.searchParams.get("username"); 
      const token = document.getElementsByName(
  "csrf-token"
)[0].content;
<% if JoinChallenge.where(user_id: current_user.id,challenge_id: params[:id]).empty?%>
        challenge_zone.addListener('click', () => {
           const contentString ='<main class="container">'+
  '<form class="simple_form join_challenge form" id="new_join_challenge" novalidate="novalidate" action="/join_challenges" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="'+ token+'" autocomplete="off" />'+

  '<input autocomplete="off" type="hidden" name="join_challenge[challenge_id]" id="join_challenge_challenge_id" value="<%=params[:id] %>" />'+
  '<input type="submit" name="commit" value="Create Join challenge" class="btn btn--secondary" data-disable-with="Create Join challenge" />'+
'</form></main>';
        
          const infowindow = new google.maps.InfoWindow({
            content: contentString
          });
          const marker= new google.maps.Marker({
            position:myLatlng,
            map:map,
          });
          infowindow.open({
            anchor: marker,
            position:myLatlng,
            map:map,
            shouldFocus: false,
          });
         
          infowindow.addListener('closeclick', ()=>{
            // Handle focus manually.
          });
          
        });
    
      <% end %>
    }
    

}else{

  function initMap() {
    const myLatlng = { lat: 41.9028, lng: 12.4964 };
     const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 17,
      center: myLatlng,
      mapTypeId: 'terrain'
    });

     const other_challenges = <%= @other_challenges%>
    for(let i=0;i < other_challenges.length;i++){
      var arr=other_challenges[i].split(':');
      var lat=arr[0];
      var lng=arr[1];
      var rad=parseInt(arr[2]);
      const c=new google.maps.Circle({
        strokeColor: "red",
        strokeOpacity: 1,
        strokeWeight: 2,
        fillColor: "blue",
        fillOpacity: 0.35,
        editable : false,
        draggable:false
      });
      
      c.setMap(map);
      c.setCenter(new google.maps.LatLng(lat,lng));
      c.setRadius(rad);
      
    }
    map.setClickableIcons(false);

    var radius=100;

    const challenge_zone = new google.maps.Circle({
        strokeColor: "red",
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: "darkred",
        fillOpacity: 0.35,
        map:map,
        radius: radius,
        editable : true,
        draggable:false,
      }); 
    const infowindow = new google.maps.InfoWindow();
    const marker = new google.maps.Marker({
          map:map,
        });
    map.addListener('click', function(e) {
        challenge_zone.setMap(null);
        marker.setMap(null);
        infowindow.setMap(null);
        var lat = e.latLng.lat();
        var lng = e.latLng.lng();
        var p = new google.maps.LatLng(lat, lng);     
        challenge_zone.setEditable(true);
        challenge_zone.setMap(map);
        challenge_zone.setCenter(p); 
        challenge_zone.addListener('click',() =>  {
          challenge_zone.setEditable(false);
          const contentString ='<div id="create_challenge"><a href="../challenges/new?' +
        '&lat='+lat+'&lng='+lng+'&coord='+p+'&radius='+radius+ '" data-turbo="false">Create Challenge here</a>'+
        "</div>";
        infowindow.setContent(contentString);
          
          marker.setMap(map);
          marker.setPosition(p);
          infowindow.open({
            anchor: marker,
            map:map,
            shouldFocus: false,
          }); 
        });
        
    });
    challenge_zone.addListener('radius_changed',() =>{
            radius=challenge_zone.getRadius();
        });
   
    infowindow.addListener('closeclick', ()=>{
          // Handle focus manually.
    });
    challenge_zone.addListener('dblclick',() =>{
          challenge_zone.setMap(null);
          infowindow.setMap(null);
          marker.setMap(null);
      });
  } 
}  
window.initMap = initMap;
</script>
  
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<% end %>


    <div id="map"></div>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS_API_KEY']%>&callback=initMap&v=beta"
      defer
    ></script>

    <div id="challenges to join">
      <% @to_join.each do |challenge| %>
        <div class= "challenge to join">
          CHALLENGE#<%=challenge.id %>
        <%lat = challenge.luogo.split(',')[0] %>
        <%long = challenge.luogo.split(',')[1] %>
        <% rad  =challenge.raggio.to_s %>
        <% @l =@lat+':'+@long+':'+@rad %> 
        <%= link_to 'See challenge location', map_index_path(l: @l,id: challenge.id) %>
      </div>
      <% end %>
      
    </div>





  




