<h2 class = "editTitle" >Edit <%= resource_name.to_s.humanize %></h2>
<%= stylesheet_link_tag 'edit' %>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                placeholder: "Leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                placeholder: "We need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
    <%=f.input :image ,input_html: { autocomplete: "upload profile picture" }%>
  </div>

  <div class="form-actions">
    <%= f.submit "Update", class: 'mybutton', style:"margin-left:330px;"%>
  </div>
<% end %>


<div class = "toolbox" style="margin-left:35%;">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), style:"background-color:red;border-color:white;", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "genButton" %></div>

<%= link_to "Back", :back %>
