
<div class="myContainer", style="margin-left:280px">
<header><h1 class="verifyTitle">Verify</h1></header>

<p id="notice"><%= notice %></p> 

<%= form_tag(verify_path) do %>
  <div class="field">
    <%= label_tag :verification_code %>
    <%= text_field_tag :verification_code %>
  </div>

  <div class="actions">
    <%= submit_tag 'Verify', class:"genButton", style:"margin-left:450px;margin-bottom:10px"%>
  </div>
</div>
<% end %>


<%= link_to 'Back', root_path %>
